/* General */

@font-face {
  font-family: Starjedi;
  src: url(./assets/starjedi/Starjedi.ttf);
}

* {
  font-family: 'Starjedi';
  cursor: url("/sabrebleu.png"), default;
  font-size: 2rem;
  margin: 0;
}

*:active {
  cursor: url("/sabrevert.png"), default;
}

#root {
  min-height: 100svh;
}